<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myapplication.myweather_copy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="myweather_copy"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.myapplication.myweather_copy.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChangeCityActivity"
            android:label="@string/changeCity_title">

        </activity>

        <activity android:name=".AboutActivity"
            android:label="@string/about_text">

        </activity>

    </application>

</manifest>